{% extends 'baselayout.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block content %}

    <h2><i class="fas fa-users"></i> Liste des personnes</h2>
    <div class="row m-3">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTEUR') %}
            <a class="btn btn-primary mr-2" href="{{ path('entity_people_new') }}"><i class="fas fa-plus"></i> Ajouter</a>
            <span class="not-allowed"><a class="btn text-warning mr-2" href="{{ path('import_export') }}"><i class="fas fa-file-import"></i> Import des données</a></span>
        {% endif %}
        <span class="not-allowed"><a class="btn text-warning mr-2" href="#" id="exportClick"><i class="fas fa-file-export"></i> Export des données</a></span>
    </div>
        <table class="table table-striped">
            <thead class="bg-secondary text-white" >
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Date de naissance</th>
                    <th>Abonnement à la newsletter</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Date d'ajout</th>
                    <th><i class="fas fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
            {% for entity_person in entity_people | sort %}
                <tr>
                    <td id="{{ entity_person.id }}"><input type="checkbox" name="selected[{{ entity_person.id }}]" class="checkImport"></td> <!--VALUE !-->
                    <td>{{ entity_person.name }}</td>
                    <td>{{ entity_person.firstname }}</td>
                    <td>{{ entity_person.adresseMailing }}</td>
                    <td>{{ entity_person.birthdate ? entity_person.birthdate|date('Y-m-d') : '' }}</td>
                    <td>{{ entity_person.newsletter ? 'Oui' : 'Non' }}</td>
                    <td>{{ entity_person.postalCode }}</td>
                    <td>{{ entity_person.city }}</td>
                    <td>{{ entity_person.addDate ? entity_person.addDate|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('entity_people_show', {'id': entity_person.id}) }}"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('entity_people_edit', {'id': entity_person.id}) }}"><i class="far fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucune entrée</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="bg-secondary text-white" >
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mailing</th>
                    <th>Date de naissance</th>
                    <th>Abonnement à la newsletter</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Date d'ajout</th>
                    <th><i class="fas fa-cog"></i></th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
