{% extends 'baselayout.html.twig' %}

{% block title %}EntityInstitutions index{% endblock %}

{% block content %}
<div class="col">
    <h1>EntityInstitutions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th>Sheet_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity_institution in entity_institutions %}
            <tr>
                <td>{{ entity_institution.id }}</td>
                <td>{{ entity_institution.name }}</td>
                <td>{{ entity_institution.role }}</td>
                <td>{{ entity_institution.sheetId }}</td>
                <td>
                    <a href="{{ path('entity_institutions_show', {'id': entity_institution.id}) }}">show</a>
                    <a href="{{ path('entity_institutions_edit', {'id': entity_institution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entity_institutions_new') }}">Create new</a>
</div>
{% endblock %}
