{% extends 'baselayout.html.twig' %}

{% block title %}EntityInstitutions{% endblock %}

{% block content %}
<div class="col">
    <h1>EntityInstitutions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity_institution.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity_institution.name }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ entity_institution.role }}</td>
            </tr>
            <tr>
                <th>Sheet_id</th>
                <td>{{ entity_institution.sheetId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entity_institutions_index') }}">back to list</a>

    <a href="{{ path('entity_institutions_edit', {'id': entity_institution.id}) }}">edit</a>

    {{ include('entity_institutions/_delete_form.html.twig') }}
</div>
{% endblock %}
