{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <div class="login-content">
    <form method="POST">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <h2 class="title">Connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a></h2>
        {% endif %}
        <h2 class="title"><img src="{{ asset('static/images/logo-login.jpg') }}" alt="CONNEXION"></h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Email</h5>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" required>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Mot de passe</h5>
                    <input type="password" name="password" id="inputPassword" class="input" required>
                </div>
            </div>
            <a class="f-mdp" href="#">Mot de passe oublié ?</a>
            <button class="bouton" type="submit">
                Se connecter
            </button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
</div>
{% endblock %}
