{% extends 'baselayout.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block content %}
<h2><i class="fas fa-tags"></i> Liste des TAGs</h2>
    <div class="row m-3">
        <a class="btn btn-primary mr-2" href="{{ path('entity_tags_new') }}"><i class="fas fa-plus"></i> Ajouter</a>
    </div>

    <table class="table table-striped">
        <thead class="bg-secondary text-white">
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Nom</th>
                <th><i class="fas fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for entity_tag in entity_tags %}
            <tr>
                <td id="{{ entity_tag.id }}"><input type="checkbox" name="selected[{{ entity_tag.id }}]"></td>
                <td>{{ entity_tag.name }}</td>
                <td>
                    <a href="{{ path('entity_tags_show', {'id': entity_tag.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('entity_tags_edit', {'id': entity_tag.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
