{% extends 'baselayout.html.twig' %}

{% block title %}Fiche de la représentation "{{ entity_performance.id }}"{% endblock %}

{% block content %}
<div class="col">
    <h2><i class="fas fa-theater-masks"></i> Fiche de la représentation "{{ entity_performance.id }}"</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity_performance.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity_performance.date ? entity_performance.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Spectacle</th>
                <td>{{ entity_performance.shows }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light m-1" href="{{ path('entity_performances_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>

    <a class="btn btn-success m-1" href="{{ path('entity_performances_edit', {'id': entity_performance.id}) }}"><i class="fas fa-edit"></i> Éditer</a>
    {% if is_granted('ROLE_CONTRIBUTEUR') OR is_granted('ROLE_ADMIN') %}
        {{ include('entity_performances/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
