{% extends 'baselayout.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block content %}
    <h2><i class="fas fa-theater-masks"></i> Liste des spectacles</h2>
    <div class="row m-3">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTEUR') %}
        <a class="btn btn-primary mr-2" href="{{ path('entity_shows_new') }}"><i class="fas fa-plus"></i> Ajouter</a>
            <span class="not-allowed"><a class="btn text-warning mr-2" href="{{ path('import_export') }}"><i class="fas fa-file-import"></i> Import des données</a></span>
        {% endif %}
        <span class="not-allowed"><a class="btn text-warning mr-2" href="#" id="exportClick"><i class="fas fa-file-export"></i> Export des données</a></span>
    </div>

    <table class="table table-striped">
        <thead class="bg-secondary text-white">
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Nom</th>
                <th>Année</th>
                <th><i class="fas fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for entity_show in entity_shows %}
            <tr>
                <td id="{{ entity_show.id }}"><input type="checkbox" name="selected[{{ entity_show.id }}]"></td>
                <td>{{ entity_show.name }}</td>
                <td>{{ entity_show.year }}</td>
                <td>
                    <a href="{{ path('entity_shows_show', {'id': entity_show.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('entity_shows_edit', {'id': entity_show.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
