{% extends 'baselayout.html.twig' %}

{% block title %}Utilisateur : {{ entity_user.firstName }} {{ entity_user.lastName }}{% endblock %}

{% block content %}
    <h1>Utilisateur : {{ entity_user.firstName }} {{ entity_user.lastName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity_user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity_user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                {% for roles in entity_user.entityRoles %}
                {{ roles.nom }},
                {% endfor %}
                <td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity_user.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ entity_user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ entity_user.lastName }}</td>
            </tr>
            <tr>
                <th>ApiToken</th>
                <td>{{ entity_user.ApiToken }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_user_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_user_edit', {'id': entity_user.id}) }}">Modifier</a>

    {{ include('entity_user/_delete_form.html.twig') }}
{% endblock %}
