{% extends 'baselayout.html.twig' %}

{% block title %}Modele Custom{% endblock %}

{% block content %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.modele_default) }}
            {{ form_row(form.modele_custom) }}
            {{ form_row(form.modeleFile) }}
            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
            <a class="btn btn-light m-1" href="{{ path('import_export') }}"><i class="fas fa-undo"></i> Annuler</a>
        </div>


{% endblock %}