{% extends 'baselayout.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block content %}
    <h2><i class="fas fa-university"></i> Liste des institutions</h2>
    <div class="row m-3">
        <a class="btn btn-primary mr-2" href="{{ path('entity_institutions_new') }}"><i class="fas fa-plus"></i> Ajouter</a>
    </div>
    <table class="table table-striped">
        <thead class="bg-secondary text-white">
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Nom</th>
                <th>Rôle</th>
                <th><i class="fas fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for entity_institution in entity_institutions %}
            <tr>
                <td id="{{ entity_institution.id }}"><input type="checkbox" name="selected[{{ entity_institution.id }}]"></td> <!--VALUE !-->
                <td>{{ entity_institution.name }}</td>
                <td>{{ entity_institution.role }}</td>
                <td>
                    <a href="{{ path('entity_institutions_show', {'id': entity_institution.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('entity_institutions_edit', {'id': entity_institution.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
