{% extends "base.html.twig" %}

{% block body %}
<header>
    <nav class="mb-4 navbar navbar-expand-lg navbar-dark bg-unique">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Lifestyle <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Beauty</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tutorials 
                        </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink-3">
                        <a class="dropdown-item" href="#">Make-up</a>
                        <a class="dropdown-item" href="#">Nails</a>
                        <a class="dropdown-item" href="#">DIY</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> 
                        </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid h-80">
    <div class="row content-wrapper position-relative">
        <aside class="nav-side-menu col col-12 col-lg-2 p-0 font-staatliches">
            
            <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out show">
                        <li class="{{ app.request.get('_route') matches '{dashboard}' ? 'active' }}">
                            <a href="/dashboard">
                            <i class="fas fa-tachometer-alt"></i> &nbsp; Tableau de bord
                            </a>
                        </li>

                        <li  data-toggle="collapse" data-target="#directory" class="collapsed {{ app.request.get('_route') matches '{manager/(.+)}' ? 'active' }}">
                            <a class="w-100" href="#"><i class="fa fa-atlas"></i> &nbsp; Annuaire<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse {{ app.request.get('_route') matches '{manager/(.+)}' ? 'show' }}" id="directory">
                            <li class="{{ app.request.get('_route') matches '{manager/entity_people(.+)}' ? 'active' }}"><a href="/manager/people">Personnes</a></li>
                            <li class="{{ app.request.get('_route') matches '{manager/entity_institutions(.+)}' ? 'active' }}"><a href="/manager/institutions">Institutions</a></li>
                            <li class="{{ app.request.get('_route') matches '{manager/entity_shows(.+)}' ? 'active' }}"><a href="/manager/shows">Spectacles</a></li>
                            <li class="{{ app.request.get('_route') matches '{manager/entity_tags(.+)}' ? 'active' }}"><a href="/manager/tags">TAGs</a></li>
                        </ul>


                        <li data-toggle="collapse" data-target="#config" class="collapsed">
                            <a class="w-100" href="#"><i class="fa fa-wrench"></i> &nbsp; Administration <span class="arrow"></span></a>
                        </li>  
                        <ul class="sub-menu collapse" id="config">
                            <li><a href="#">Gestion des utilisateurs et rôles</a></li>
                            <li><a href="#">Gestion des modèles</a></li>
                            <li><a href="#">Configuration</a></li>
                            <li><a href="#">Sauvegardes / restaurations</a></li>
                        </ul>
                    </ul>
                </div>
        </aside>

        <div class="overflow-auto pre-scrollable col col-lg-10 pt-3 pb-3 mh-100">

{% block content %}
{% endblock content %}

        </div>
    </div>

{% endblock body %}
